<div style="clear: left;">
  <footer>
  <br>
    <p>Created and Developed by <a href="http://felipe.nodeio.us/" target="_blank">Felipe</a> with Node.JS and Agile software development - Copyright {{getCurrentYear}}</p>
</footer>
</div>