<div style="clear: left;">
  <footer>
  <p>Created and developed by <a href="http://felipe.seasumo.com/" target="_blank">Felipe</a> with Node.JS and Agile software development - Copyright {{getCurrentYear}}</p>
</footer>
</div>
