

<div style="float:left;">
  <a href="/sleepers"><img src="./movies-imgs/sleepers.jpg" border="0" width="120px" height="178px"></a>

  <a href="/jobs"><img src="./movies-imgs/jobs.jpg" border="0" width="120px" height="178px"></a>

    <a href="/claireinmotion"><img src="./movies-imgs/claireinmotion.jpg" border="0" width="120px" height="178px"></a>

</div>
<br>
