<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>About page</title>
<link rel="stylesheet" type="text/css" href="./css_listings.css">

 </head>
 <body>
    {{> header }}

   <h1>{{screamIt pageTitle}}</h1>
   <p>Soon!</p>


 {{> footer}}

 </body>
</html>
