h1 Nuevo Usuario
form(method="POST", action="/user");


   p Nombre:
   input(type="text" name="name")
   
   p Fecha de nacimiento:
    input(type="date" name="birthplace")
    
   p ¿Es admin?
   input(type="check" name="isAdmin")
   
   p
   button(type="submit") Enviar
   
   
   
