.body {
    justify-content: center;
    border-bottom: 1px solid #a9adac;
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
   

  }