.movie-item {
	flex-basis: 17%;
	display: flex;
	flex-direction: column;
	list-style: none;
  box-sizing: border-box;
	margin: 1.5%;
  border: 1px solid #1f1f1f;
  box-shadow: 0 10px 28px -7px rgba(0,0,0,0.1);
}

.movie-item img {
	width: 100%;
}

.movie-description {
	display: flex;
  flex-grow: 1;
	flex-direction: column;
  justify-content: space-between;
	padding: 10px;
}

.movie-description h2 {
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}

.movie-details {
	display: flex;
	justify-content: space-between;
}

.movie-details span {
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
}

.movie-year, .movie-rating {
	display: flex;
	flex-direction: column;
}

.movie-year .title, .movie-rating .title {
	color: #fff;
	margin-bottom: 5px;
	font-size: 0.65rem;
	font-weight: normal;
}

.movie-rating {
	align-items: flex-end;
}